body {

  background: whitesmoke url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAQAAAAHUWYVAABFFUlEQ…ga9bnBq3fEVltKfO5IaSTmGjjc4J0otcP7QsJUSQM8pEj5/wCuUuC2DWz8AAAAAElFTkSuQmCC);
}

div#main.wrapper {
  background-color: whitesmoke;
}

div#app {
  position: relative;
  margin-top: 0;
}

.box-body-lg-screen {
  height: 475px;
  overflow-y: scroll;
  overflow-x: hidden;
}


#code-file-dd {
  position: relative;
  margin: 3px;
  margin-left: 20px;
  padding: 3px;
  margin-top: -8px;
}

#code-file-dd:hover{
  cursor: pointer;
  background-color: white;
}

div.box-header.with-border {
  padding: 0;
}

.social-boxes {
  width: 0%;
  height: auto;
  margin-right: 20px;
}

.social-box {
  width: 320px;
}

.code-area-pre {
  position: relative;
  height: auto;
  width: auto;
  border: none;
  margin: 0px;
  border-style: none;
  background-color: #f8f8f8;
}

code.html {
  border: none;
  background-color: #f8f8f8;
}



/*div.ace_content {*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*margin-top: -20px;*/
/*}*/

.code-tab a {
  height: 45px;
}

.small-img {
  height: 30px;
  width: 30px
}



.med-img {
  height: 55px;
  width: 55px
}

.user-name, .time-rem {
  margin-left: 5px;
  margin-top: 5px;
  size: 2em;
}

.time-rem {
  margin-left: 300px;
  margin-top: 5px;
  size: 2em;
  size: 2em;
}

.enemies-box {
  position: relative;
  width: auto;
}


.controls {
  margin-left: 30px;
}

.code-editor-controls:hover {
  cursor: pointer;
}

.alert-box {
  position: absolute;
  width: auto;
  z-index: 10000;
  right: 20px;
  top: 5px;
}

.code-tab {
  background-color: white;
}

.full-length {
  width: 100%;
}

div.local-vid div.box-tools {
  position: absolute;
  left: 10px;
  margin-right: 10px;
  top: 5px;
  width: 90%;
}

#draggablePanelList .panel-heading {
  cursor: move;
}

div.spacer {
  width: 20px;
}

.vid-window-list li {
  float: right;
  list-style: none;
  list-style-type: none;
}

.tight-box {
  padding: 0;
}

.code-area.nav-pills {
  border-radius: 8px;
}

.select-ctrl {
  background-color: whitesmoke;
  border: none;
  width: auto;
  margin-top: 5px;
  min-width: 150px;
  margin-right: -15px;
}

.lang-label {
  left: 20px;
  margin-right: 20px;
}

.top-lbls {
  position: relative;
  margin-top: 8px;
}

#user-1-vid, #friend-vid {
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

div.box-body.box-body-lg-screen.code-area-inner {
  overflow: hidden;
}

#stdIn-Txt {
  position: relative;
  margin-left: 20px;
  border: none;
  width: 400px;
  height: 40px;
  background: #ebefeb;
  size: 1.3em;
}

#compiled-msg {
  position: relative;
  margin-left: 30px;
  margin-right: 100px;
  color: white;
  display: block;
  margin-top: 18px;
  width: auto;
  background-color: whitesmoke;
  font-variant-caps: all-small-caps;
}


.exec-line {
  position: relative;
  margin-left: 20px;
}

div.st-card {
  position: absolute;
  width: 600px;
  height: 275px;
  background-color: whitesmoke;
  overflow: scroll;
  z-index: 1000;
}

.img-circle {
  margin-left: 0;
  display: flex;
}

.username {
  margin-left: 10px;
}

.exception-text {
  margin-top: 30px;
}

#new-file-name {
  height: 43px;
  size: 2em;
  border: none;
  margin-top: 2px;
  margin-right: 20px;
  width: 400px;
  text-align: right;
  background-color: whitesmoke;
}

#new-file-name:focus {

}

li.code-tab a {
  font-weight: normal;
}

.exc_badge {
  position: absolute;
  z-index: 999;
}

.selected-language {
  margin-top: 5px;
}

.dropdown-item {
  position: relative;
  display: block;
}

.lang-item {
  text-align: left;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  display: block;
  padding-left: 15px;
}

.lang-item:hover {
  background-color: #ebebeb;
}

#langDdbtn {
  margin-top: 5px;
  border: none;
  background: transparent;
}

#langs-dd-div {
  position: relative;
  overflow-style: auto;
}

.nav-tabs {
  border-bottom: none;
  height: 45px;
}

div.box-header.with-border {
  height: 53px;
}

div.box-widget {
  background-color: whitesmoke;
}

.langs-btn-group {
  margin-right: 40px;

}

div.user-block {
  margin-top: -5px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
  background-color: #e5e5e5;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #ebebeb;
  color: #0c0c0c;
  padding-left: 20px;
  border-top-color: #e5e5e5;
}

.exception-title {
  margin-left: 45px;
}

.sett-items, .exception-items, .challenge-items {
  list-style: none;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: #f9f9f9f9;
}

.achievement-box {
  position: relative;
  width: 400px;
}

.attach-label {
  margin-right: 20px;
}

.attach-box {
  width: auto;
  position: relative;
  padding: 0;
}

#like-challenge, #completed-challenge {
  margin-right: 15px;
}

#completed-challenge {
  margin-right: 15px;
}

#like-challenge:hover, #completed-challenge:hover {
  cursor: pointer;
}

#editor-controls {
  position: relative;
  width: auto;
}

#editor-controls li {
  float: right;
  list-style: none;
  margin-left: 5px;
}

#editor-controls li:hover {
  cursor: pointer;
}

#editor-controls li img {
  width: 20px;
  height: 20px;
}

#options-img {
  margin-top: 2px;
}

#options-img:hover {
  cursor: pointer;
}

a.logo {
  height: 55px;
  color: #8498B0
}

li.dropdown.user.user-menu a.dropdown-toggle {
  position: relative;
  height: 50px;
}

.timeline {
  position: relative;
  float: left;
  width: 35%;
}

.assi-tline p.timeline-body, .ach-tline p.timeline-body, .chal-tline p.timeline-body {
  size: 14px;
}

img#c-board-img, img#err-img, img#rtc-session {

}

.bg-whiteish {
  background-color: #efefef;
}

.bg-white {
  background-color: #ffffff;
}

.text-white {
  color: #ffffff;
}

#remote-vids video {
  height: 150px;
  width: 200px;
  margin: 0;
}

#local-vid video {
  height: 150px;
  width: 200px;
  margin: 0;
}

div.box-header.with-border.local-vid {
  height: 35px;
}

div.box-header.with-border.local-vid button {
  float: right;
}

div.slim-footer {
  height: 30px;
}

span#vid-box-label {
  position: relative;
  top: 10px;
  left: 10px;
  min-width: 200px;
}

div.slim-footer button {
  position: relative;
  top: -10px;
}

#video-section {
  position: relative;
  height: auto;
  margin-right: 20px;

}

.assignment-card {
  position: absolute;
  right: 0;
  margin-top: -48px;
  z-index: 1000;
  background-color: transparent;
  border-left: 1px dotted #ebebeb;
  width: 40%;
  height: 100%;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 10px;
  z-index: 10000;
  color: #666666;
  background-color: #ffffff;
}

.btn-circle.btn-sm {
  width: 15px;
  height: 15px;
  font-size: 10px;
  text-align: center;
  border-radius: 7px;
  z-index: 10000;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  border-radius: 25px;
  z-index: 10000;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 26px;
  line-height: 1.33;
  border-radius: 35px;
  z-index: 10000;
}

#panel-local-vid {
  position: absolute;
  right: 100px;
  top: 0px;
  z-index: 1000;

}

#panel-local-vid div.panel-body {
  padding: 0;
  margin: 0;
}

#new-file-btn {
  background-color: #ffffff;
  border: none;
  margin-top: 10px;
  font-size: 16px;
  margin-left: 10px;
}

.ace_keyword {
  color: #cda869;
}

.ace_identifier {
}

.ace_paren {
  color: #24C2C7;
}

.ace_punctuation.ace_operator {
  color: #fa8d6a;
}
